<% content_for :title do %>
	Display All Users
<% end %>
	
<fieldset>
	<legend>Displaying All Users</legend>

	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= user.first_name %> <%= user.last_name %></td>
					<td><%= user.email_address %></td>
					<td>
						<%= link_to(user) do %>
							<button class="btn">Show User!</button>
						<% end %>
					</td>
					<td>
						<%= link_to(edit_user_path(user)) do %>
							<button class="btn">Edit User!</button>
						<% end %>
					</td>
					<td>
						<form action="/users/<%= user.id %>" method="post" style="margin: 0px;">
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type="hidden" name="_method" value="delete">
							<button class="btn">Delete User!</button>
						</form>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	
</fieldset>

<%= link_to 'Add New User!', new_user_path %>
